.heading{
    font-size: 30px;
    margin:0px;
    width: 100%;
}

#status{
    font-size: 22px;
}

#imgObjeto{
    font-size: 22px;
}

canvas{
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
}
